<h4><b>Regulamento da campanha de pontos PRO Carbono Raíx Sementes Safra 23|24</b></h4>
    <p><b>1.</b> A campanha é limitada aos produtores Pro Carbono, com pontuação em toda a linha de produtos Raíx;</p>
    <p><b>2.</b> A campanha é restrita ao PARTICIPANTE cadastrado na base Pro Carbono (incluso CPF/CNPJ do grupo familiar);</p>
    <p><b>3.</b> Serão aprovadas apenas notas fiscais enviadas em até 90 dias após a data de sua emissão;</p>
    <p><b>4.</b> Política de conversão: valor total das compras Raíx convertido em pontos;</p>
    <p><b>5.</b> Política de equivalência para a área registrada no Pro Carbono: Compras produtos Raíx, 1 ponto Orbia a cada R$3,00;</p>
    <p><b>6.</b> Bônus: Para a área excedente a compra de Raíx: 1 ponto Orbia a cada R$6,00;</p>
    <p><b>7.</b> Para a base de cálculo é considerada a dose de semeadura de 1,5 sacas de Raíx por hectare.</p>
    <p><b>8.</b> Período de vigência: a campanha se limitará ao período da SAFRA 2023/2024, de 01/11/2023 até 30/06/2024;</p>
    <p><b>9.</b> O PARTICIPANTE é responsável por todas as informações fornecidas à Raíx Sementes no preenchimento do formulário de cadastro da campanha de pontos Pro Carbono Raíx Sementes;</p>
    <p><b>10.</b> A Raíx Sementes se reserva um prazo de até 60 (sessenta) dias após a inscrição e validação na campanha para a disponibilização dos pontos ao PARTICIPANTE.</p>
    <p><b>11.</b> Ao informar que "ESTÁ DE ACORDO" com as disposições do REGULAMENTO com as regras da campanha de pontos Pro Carbono Raíx Sementes, o PARTICIPANTE declara que leu atentamente e aceitou todos os seus termos e condições, avaliando de forma livre e independente as obrigações aqui assumidas, sendo que a intenção de participar da campanha não está relacionada com nenhuma outra manifestação, garantia ou declaração que não sejam as estabelecidas nesse REGULAMENTO;</p>
    <p><b>12.</b> Ao aceitar esse regulamento, o PARTICIPANTE aceita que a Raíx Sementes poderá fazer contato diretamente via ligação telefônica, e-mail, aplicativos de mensagens de celular ou SMS para fins relacionados ou não ao escopo da campanha de pontos Pro Carbono Raíx Sementes;</p>
    <p><b>13.</b> O benefício relacionado à campanha de pontos Pro Carbono Raíx Sementes será entregue ao PARTICIPANTE por meio de pontos na plataforma Orbia.ag e seu uso é restrito de acordo com os termos de uso da mesma.</p>